*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
        width: 100%;

}
main,section{
    height: 100%;
    width: 100%;
}
section{
    display: flex;
    justify-content: center;    
    align-items: center;
    flex-direction: column;
    gap: 15px;
     font-family:Arial, Helvetica, sans-serif ;
    
}